@model Dictionary<string, object>

<div class="card" style="position: fixed;">
    <img src="@Model["logo"].ToString()" class="card-img-top" alt="company logo" style="height: 150px; width: 150px;">
        <i class="fa-solid fa-2xl fa-xmark" style="position: absolute;
        top: 20px;
        margin-left: 90%;" onclick="CloseCardInfo()"></i>
    <div class="card-body">
        <h5 class="card-title">@Model["name"].ToString()</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><span class="badge bg-info industry fs-6">@Model["finnhubIndustry"].ToString()</span></li>
        <li class="list-group-item">
            Exchange: <span class="badge bg-info exchange fs-6 mb-1">
                @Model["exchange"].ToString()
            </span>
        </li>
        <li class="list-group-item price">$@Model["c"].ToString()</li>
    </ul>
    <div class="card-body">
        <a asp-controller="Trade" asp-action="TradeStock" asp-route-quantity="100" asp-route-stocksymbol="@Model["ticker"].ToString()" class="btn btn-success trade-button">Trade now</a>
    </div>
</div>
<style>
    @@media (max-width: 768px){
        .card{
            position: fixed !important;
            top: 20%;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 1;
        }
    }
</style>